*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cutive Mono', monospace;
}
.app{
    background-color: tomato;
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.app__form{
    padding: 20px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: lightseagreen;
    width: 100%;
}
.btn{
    width: 200px;
    margin: 5px;
}
